@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #efefef;
  font-family: 'Fredoka One', cursive;
  background: rgba(0,0,27,1);
}
